<nav class="nav">
  <div class="nav__container">
    <div class="site">
      <img src="assets/ui/logo.webp" class="site__logo"/>
      <h1 class="site__name">Freyr</h1>
    </div>
    <div class="options">
      <button class="options__toggle" type="button">One-way</button>
      <input type="number" class="options__passengers" placeholder="Passengers" value=""/>
    </div>
    <div class="pages">
      <a class="pages__page" routerLink="/" routerLinkActive="activelink">Flights</a>
      <a class="pages__page" routerLink="/manage" routerLinkActive="activelink">Manage</a>
      <a class="pages__page" routerLink="/check-in" routerLinkActive="activelink">Check-in</a>
    </div>
  </div>
</nav>
