<app-navbar/>
<div class="flights">
  <form class="search" [formGroup]="routeForm" (ngSubmit)="onSubmit()">
    <app-select-box
      class="select_box"
      name="From"
      placeholder="Where from?"
      [defaultValue]="routeForm.value.from"
      [hiddenOption]="routeForm.value.to"
      (selectChanged)="onLocationChanged($event, 'from')"
      [options$]="planets.data$"
      [forcedValue$]="forcedFromLocation$"
    />
    <span class="gap search__arrows" (click)="switchLocations()">
      <span class="arrows__piece">
        <svg class="arrows__svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><path d="M17 4l-1.41 1.41L18.17 8H11v2h7.17l-2.58 2.59L17 14l5-5-5-5zM7 20l1.41-1.41L5.83 16H13v-2H5.83l2.58-2.59L7 10l-5 5 5 5z"></path></svg>
      </span>
    </span>
    <app-select-box
      class="select_box"
      name="To"
      placeholder="Where to?"
      [defaultValue]="routeForm.value.to"
      [hiddenOption]="routeForm.value.from"
      (selectChanged)="onLocationChanged($event, 'to')"
      [options$]="planets.data$"
      [forcedValue$]="forcedToLocation$"
    />
    <button class="search__submit" type="submit">
      <img alt="search" class="search__submit__img" src="assets/ui/search.svg"/>
    </button>
  </form>
  @if (FetchStatus.Error === routes.status$.value) {
    <div>{{routes.error}}</div>
  }

  @if (FetchStatus.Loading === routes.status$.value) {
    <div class="loading">
      <app-loading fillColor="hsl(215, 86%, 54%)"/>
    </div>
  }

  @if (FetchStatus.LoadedEmpty === routes.status$.value) {
    <div>No available routes found</div>
  }

  @if (FetchStatus.Loaded === routes.status$.value) {
    <app-filters class="filters" [spacelines]="companies" (filtersChanged)="onFiltersChanged($event)"/>

    <div class="offers">
      <div class="offers__table">
        <div class="table__headers">
          <button class="sort_button departure" type="button" (click)="sortRouteOffers('startDT')">Departure</button>
          <button class="sort_button time" type="button" (click)="sortRouteOffers('duration')">Time</button>
          <button class="sort_button stops" type="button" (click)="sortRouteOffers('stops')">Stops</button>
          <button class="sort_button price" type="button" (click)="sortRouteOffers('price')">Price</button>
          <span class="gap"></span>
        </div>
        <ul class="table__content">
          @for (offer of routesOffers; track offer.uuid) {
            @if (offer.visible) {
              <li class="table__content__row">
                @if (!isSmallScreen) {
                  <div class="company_logo column">
                    <app-company-logo [company]="offer.company"/>
                  </div>
                  <div class="time_company column">
                    <div class="column__row semibold">{{offer.timeStr}}</div>
                    <div class="column__subrow">{{offer.company}}</div>
                  </div>
                  <div class="duration_route column">
                    <div>{{offer.durationStr}}</div>
                    <div class="column__subrow">{{offer.from}}-{{offer.to}}</div>
                  </div>
                  <div class="stops column">{{offer.stopsStr}}</div>
                  <div class="price column semibold">€{{offer.price}}</div>
                  <button class="button_open column"
                          [class.open]="offer.open"
                          type="button"
                          (click)="setBookingRowOpen($index)"
                  >
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M19.9201 8.9502L13.4001 15.4702C12.6301 16.2402 11.3701 16.2402 10.6001 15.4702L4.08008 8.9502" stroke="#ffffff" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                  </button>
                }
                @if (isSmallScreen) {
                  <div class="company_logo">
                    <app-company-logo [company]="offer.company"/>
                  </div>
                  <div class="timespan">
                    <div class="column__row semibold">{{offer.timeStr}}</div>
                  </div>
                  <div class="price">€{{offer.price}}</div>
                  <div class="route">{{offer.from}}-{{offer.to}}</div>
                  <div class="misc">
                    <span>{{offer.stopsStr}}</span>
                    <span>{{offer.durationStr}}</span>
                    <span>{{offer.company}}</span>
                  </div>
                  <div class="button">
                    <button class="button_open"
                            [class.open]="offer.open"
                            type="button"
                            (click)="setBookingRowOpen($index)"
                    >
                      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M19.9201 8.9502L13.4001 15.4702C12.6301 16.2402 11.3701 16.2402 10.6001 15.4702L4.08008 8.9502" stroke="#ffffff" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                    </button>
                  </div>
                }
                @if (offer.open) {
                  <div class="booking_row" @openClose>
                    @for (_ of [].constructor(offer.stops+1); track j; let j = $index) {
                      @if (getRouteInfo(offer.arrayIndex, j); as route) {
                        <div class="flight">
                          <div class="flight__company_logo"></div>
                          <div class="flight__container">
                            <div class="flight__info">
                              <span>{{DtStrToTime(route.start)}}</span>
                              <span class="dot-big">·</span>
                              <span>{{route.from}}</span>
                              <div class="flight__info__time subtext">Travel time: {{getTimegap(route.start, route.end)}}</div>
                            </div>
                            <div class="flight__info">
                              <span>{{DtStrToTime(route.end)}}</span>
                              <span class="dot-big">·</span>
                              <span>{{route.to}}</span>
                            </div>
                            <div class="flight__company_text subtext">{{route.company}}</div>
                            @if ($index != offer.stops) {
                              <div class="flight__layover">
                                <span>{{getTimegap(route.end, getRouteInfo(offer.arrayIndex, j+1)?.start ?? "")}} layover</span>
                                <span class="dot-medium">·</span>
                                <span>{{route.to}}</span>
                              </div>
                            }
                          </div>
                        </div>
                      }
                    }
                    <a class="booking_row__book" routerLink="booking" [queryParams]="{view: 'overview'}" (click)="saveBookingToState(offer.arrayIndex, offer)">Select flight</a>
                  </div>
                }
              </li>
            }
          }
        </ul>
      </div>
    </div>
  }
</div>
