.flights {
  margin: 2rem auto;
  max-width: 1400px;
  width: 100%;
  padding: 0 1rem;
}

.flights {
  display: grid;
  grid-template-columns: minmax(200px, 300px) 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 1rem;
}

.search {
  grid-column: 1 / -1;
  grid-row: 1;
}

.filters {
  margin-top: 43px;
  grid-column: 1;
  grid-row: 2;
}

.offers {
  grid-column: 2;
  grid-row: 2;
}

.search {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 0 1fr 0.07fr;

  & > *:not(:last-child) {
    margin-right: 1rem;
  }

  .select_box {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 55px;
      height: 55px;
      z-index: 1;
      border-radius: 50%;
      background-color: hsl(0, 0%, 94%);
      box-shadow: inset 0 0 2px hsl(0, 0%, 85%);
    }

    &:first-of-type::after {
      right: -35px;
      clip-path: inset(0 34px 0 0);
    }

    &:nth-of-type(2)::after {
      left: -35px;
      clip-path: inset(0 0 0 34px);
    }
  }

  &__arrows {
    align-self: center;
    position: relative;
    left: -1.75rem;
    z-index: 11;
    margin-top: 5px;

    .arrows__svg {
      box-sizing: initial;
      padding: .5rem;
      cursor: pointer;
      background-color: black;
      border-radius: 50%;
      fill: hsl(0, 0%, 100%);

      &:hover {
        background-color: hsl(0, 0%, 25%);
        transition: background-color 200ms;
      }
    }
  }

  &__submit {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    background-color: black;
    font-size: 1rem;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 50ms;

    &__img {
      max-height: 1.5rem;
      width: 1.5rem;
    }
  }

  &__submit:hover {
    background-color: hsl(0, 0%, 25%);
    transition: background-color 200ms;
  }
}

.offers__table .table__content__row,
.offers__table .table__headers {
  .time_company,
  .departure {
    flex: 1 0 25%;
    min-width: 150px;
  }

  .time,
  .duration_route {
    flex: 1 0 7%
  }

  .stops {
    flex: 1 0 7%;
  }

  .price {
    flex: 1 0 8%;
  }

  .gap {
    width: 35px;
  }
}

.offers__table {
  .table__headers {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 25px;
    padding: 5px 25px 5px;
    margin-left: 60px;

    .sort_button {
      padding-top: 5px;
      padding-bottom: 8px;
      font-weight: 600;
      background: transparent;
      border: 1px solid transparent;
      text-align: left;
      font-size: 13px;
      cursor: pointer;
      color: hsl(0, 0%, 43%);

      &:hover {
        border-bottom: 1px solid hsl(0, 0%, 70%);
      }
    }
  }

  .table__content__row {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 0 25px;
    padding: 24px 25px;
    background: white;
    border-radius: 10px;
    box-shadow: hsl(0, 0%, 85%) 0 0 2px;
    margin-bottom: 1rem;
    transition-duration: .2s;

    &:last-child {
      border: none;
    }

    .column {
      font-size: 16px;

      &__row-bold {
        font-weight: 600;
      }

      &__subrow {
        color: hsl(0, 0%, 46%);
        font-size: 12px;
      }
    }

    .company_logo {
      align-self: center;
      width: 35px;
      font-size: 12px;
      color: hsl(0, 0%, 46%);
    }


    .button_open {
      position: relative;
      right: -12px;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      background-color: hsl(3, 79%, 56%);
      border: none;
      font-size: 26px;
      line-height: 0;
      cursor: pointer;
      color: hsl(0, 0%, 55%);

      svg {
        transition-timing-function: ease-out;
        transition-duration: 100ms;
      }

      &.open svg {
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
      }

      &:hover {
        background-color: hsl(3, 79%, 46%);
      }
    }

    .booking_row {
      width: 100%;
      overflow: hidden;

      .placeholder {
        height: 1rem;
      }

      &__book {
        display: block;
        font-size: 14px;
        font-weight: 600;
        border-radius: 20px;
        padding: 1rem 2rem;
        text-decoration: none;
        color: white;
        background-color: black;
        margin-left: auto;
        width: fit-content;
        margin-top: 2.5rem;

        &:hover {
          background-color: hsl(0, 0%, 25%);
          transition: background-color 200ms;
        }
      }

      & .flight {
        display: flex;
        flex-direction: row;
        padding: 0 24px;
        gap: 6px 0;
        font-size: 16px;

        &__company_logo {
          max-width: 35px;
          flex-grow: 1;
        }

        &__container {
          flex-grow: 1;
        }

        &__info {
          &__time {
            padding: 12px 0;
          }
        }

        &__company_text {
          padding: 12px 0 0;
        }

        & .subtext {
          font-size: 14px;
          color: hsl(0, 0%, 46%);
        }

        &__layover {
          width: 100%;
          font-size: 14px;
          padding: 16px 0;
          margin: 20px 0;
          border: 1px solid hwb(220 87% 11%);
          border-left: 0px;
          border-right: 0px;
        }
      }
    }
  }
}

.dot-big {
  margin: 0 8px;
}

.dot-medium {
  margin: 0 6px;
}

.semibold {
  font-weight: 600;
}

.loading {
  grid-column: 1/-1;
  justify-self: center;
  margin-top: 2rem;
  margin-right: 65px;
}

// Styling for mobile view flights
@media (max-width: 1080px) {
  .flights {
    gap: 2rem 1rem;
  }

  .filters {
    margin-top: 0;
  }

  .offers__table {
    & .table__headers {
      display: none;
    }

    & .table__content__row {
      display: grid;
      grid-template-columns: auto 1fr 1fr max-content;
      grid-template-rows: repeat(5, min-content);
      grid-template-areas:
        "logo timespan timespan timespan"
        "logo route route route"
        "logo misc misc misc"
        "logo price price button"
        ". open open open";
      gap: .3rem 0;
      overflow: hidden;

      .company_logo {
        grid-area: logo;
        align-self: start;
        margin-right: 25px;
      }

      .timespan {
        grid-area: timespan;
      }

      .route {
        grid-area: route;
        color: hsl(0, 0%, 46%);
        font-size: 14px;
      }

      .misc {
        grid-area: misc;
        word-break: break-word;

        & > span {
          color: hsl(0, 0%, 46%);
          font-size: 14px;
          white-space: nowrap;

          &::after {
            padding: 0 10px;
            content: '·';
          }

          &:last-of-type::after {
            content: '';
            padding: 0;
          }
        }
      }

      .price {
        grid-area: price;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
      }

      .button {
        position: relative;
        grid-area: button;

        &_open {
          position: absolute;
        }
      }

      .booking_row {
        grid-area: open;
      }

      .flight__company_logo {
        display: none;
      }

      .flight {
        padding: 0!important;
      }

      .booking_row__book {
        margin-left: 0;
      }
    }

  }
}

@media (max-width: 800px) {
  .filters {
    grid-row: 2;
    grid-column: 1 / -1;
  }
  .offers {
    grid-row: 3;
    grid-column: 1 / -1;
  }
}

@media (max-width: 500px) {
  .search {
    grid-template-columns: 1fr 0 1fr;
    gap: 2rem 0;

    &__submit {
      grid-column: 1 / -1;
      height: 50px;
    }

    .select_box:last-of-type {
      margin-right: 0;
    }
  }
}
