dialog {
    border: 1px solid hsl(0,0%,90%);
    border-radius: 5px;
}

input {
    display: block;
    margin-bottom: 10px;
}
button {
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

.routes {
    margin-bottom: 5px;
}

.details {
    margin-top: 2px;
    text-align: center;
}

.submit {
    margin-top: 30px;
    margin-bottom: 5px;
}