<app-navbar/>
<div class="main">
  <div class="container">
    @if (booking$ | async; as booking) {
    @if (booking.overview && booking.routes) {

@if (userView === Views.OVERVIEW) {
  <div class="overview">
    <div class="overview__flights">
      <div class="header">
        <span class="departing">Departing flight</span>
        <span class="dot-big">·</span>
        <div class="locations">
          <span class="location">{{booking.overview.from}}</span>
          <span class="slash">—</span>
          <span class="location">{{booking.overview.to}}</span>
        </div>
        <span class="dot-big">·</span>
        <span>{{DtToDayMonthDate(booking.overview.startDT)}}</span>
      </div>
      @for (route of booking.routes; track route.id) {
        <div class="flight">
          <div class="flight__company_logo">
            <app-company-logo [company]="booking.overview.company"/>
          </div>
          <div class="flight__container">
            <div class="flight__info">
              <span>{{DtStrToTime(route.start)}}</span>
              <span class="dot-big">·</span>
              <span>{{route.from}}</span>
              <div class="flight__info__time subtext">Travel time: {{getTimegap(route.start, route.end)}}</div>
            </div>
            <div class="flight__info">
              <span>{{DtStrToTime(route.end)}}</span>
              <span class="dot-big">·</span>
              <span>{{route.to}}</span>
            </div>
            <div class="flight__company_text subtext">{{route.company}}</div>
            @if ($index != booking.overview.stops) {
              <div class="flight__layover">
                <span>{{getTimegap(route.end, booking.routes[$index+1].start)}} layover</span>
                <span class="dot-medium">·</span>
                <span>{{route.to}}</span>
              </div>
            }
          </div>
        </div>
      }
    </div>
    <div class="overview__buttons">
      <a class="overview__buttons__back" routerLink=".." [queryParams]="{from: booking.overview.from, to: booking.overview.to}">
        Change flight
      </a>
      <button class="overview__buttons__continue btn-primary" type="button" (click)="changeView(Views.BOOKING)">
        Continue
      </button>
    </div>
  </div>
}
@if (userView === Views.BOOKING) {
<form [formGroup]="bookingForm" (ngSubmit)="onSubmit()" class="booking">
  <div class="inputs">
    <label class="inputs__label" for="firstname">First name</label>
    <input formControlName="firstname" id="firstname" type="text" placeholder="" class="inputs__field">
    @if (!isInputValid("firstname")) {
      <span class="inputs__error">* {{getValidationMessage("first name")}}</span>
    }
    <label class="inputs__label" for="lastname">Last name</label>
    <input formControlName="lastname" id="lastname" type="text" placeholder="" class="inputs__field">
    @if (!isInputValid("lastname")) {
      <span class="inputs__error">* {{getValidationMessage("last name")}}</span>
    }
    <label class="inputs__label" for="email">Email</label>
    <input formControlName="email" id="email" type="text" placeholder="" class="inputs__field">
    @if (!isInputValid("email")) {
      <span class="inputs__error">* {{getValidationMessage("email")}}</span>
    }
  </div>
  <div class="buttons">
    <button class="buttons__back" type="button" (click)="changeView(Views.OVERVIEW)">
      Go back
    </button>
    <button class="buttons__submit btn-primary"
            [class.loading]="FetchStatus.Loading === bookingFetch.status$.value"
            [disabled]="!bookingForm.valid"
            type="submit">
    Book
  </button>
  </div>
  @if (FetchStatus.Error === bookingFetch.status$.value) {
    <div class="error">* Booking failed ({{bookingFetch.error.getValue().error}})</div>
  }
</form>
}
@if (userView === Views.SUCCESS) {
  <div class="success">
    <p>
      Booking Confirmed! Your flight has been booked successfully. Please check your email for your ticket and further instructions.
    </p>
    <div>Your ticket number is: <b>{{bookingFetch.dataBS$.getValue().body["client_key"]}}</b></div>
    <a routerLink="/" class="link">Return to homepage</a>
  </div>}

    }}
  </div>
</div>
