@if (booking$ | async; as booking) {
@if (booking.overview && booking.routes) {
@if (userView === Views.BOOKING || userView === Views.OVERVIEW) {
<div class="header">
  <div class="header__path">
    <span>{{booking.overview.from}}</span>
    <span class="header__path__gap">-</span>
    <span>{{booking.overview.to}}</span>
  </div>
  <span class="header__price">{{formatPrice(booking.overview.price)}}</span>
</div>
}
@if (userView === Views.BOOKING) {
<form [formGroup]="bookingForm" (ngSubmit)="onSubmit()" class="booking">
  <div class="inputs">
    <div class="inputs__input">
      <label class="inputs__input__label" for="firstname">First name</label>
      <input formControlName="firstname" id="firstname" type="text" placeholder="" class="inputs__input__field">
      @if (!isInputValid("firstname")) {
        <span class="inputs__input__error">* First name is required</span>
      }
    </div>
    <div class="inputs__input">
      <label class="inputs__input__label" for="lastname">Last name</label>
      <input formControlName="lastname" id="lastname" type="text" placeholder="" class="inputs__input__field">
      @if (!isInputValid("lastname")) {
        <span class="inputs__input__error">* Last name is required</span>
      }
    </div>
    <div class="inputs__input">
      <label class="inputs__input__label" for="email">Email</label>
      <input formControlName="email" id="email" type="text" placeholder="" class="inputs__input__field">
      @if (!isInputValid("email")) {
        <span class="inputs__input__error">* {{getValidationMessage("email")}}</span>
      }
    </div>
  </div>
  <div class="buttons">
    <button class="buttons__back btn-tertiary" type="button" (click)="changeView(Views.OVERVIEW)">Go back</button>
    <button class="buttons__submit btn-primary"
            [class.loading]="bookingFetch.isLoading | async"
            [disabled]="!bookingForm.valid"
            type="submit">
    Book
  </button>
  </div>
  @if (bookingFetch.hasError | async) {
    <div class="booking__failed">Booking failed</div>
  }
</form>
}
@if (userView === Views.OVERVIEW) {
<div class="selection">
  <h2 class="selection__header">Selected flights</h2>
  <div class="selection__flights">
    <div class="header">
      <div class="header__departing">
        <span>Departing flight</span>
        <span class="dot-big">·</span>
        <span>{{DtToDayMonthDate(booking.overview.startDT)}}</span>
      </div>
      <a routerLink=".."
         [queryParams]="{from: booking.overview.from, to: booking.overview.to}"
         class="header__back"
      >
        Change flight
      </a>
    </div>
      @for (route of booking.routes; track route.id) {
        <div class="flight">
          <div class="flight__company_logo">
            <app-company-logo [company]="booking.overview.company"/>
          </div>
          <div class="flight__container">
            <div class="flight__info">
              <span>{{DtStrToTime(route.start)}}</span>
              <span class="dot-big">·</span>
              <span>{{route.from}}</span>
              <div class="flight__info__time subtext">Travel time: {{getTimegap(route.start, route.end)}}</div>
            </div>
            <div class="flight__info">
              <span>{{DtStrToTime(route.end)}}</span>
              <span class="dot-big">·</span>
              <span>{{route.to}}</span>
            </div>
            <div class="flight__company_text subtext">{{route.company}}</div>
            @if ($index != booking.overview.stops) {
              <div class="flight__layover">
                <span>{{getTimegap(route.end, booking.routes[$index+1].start)}} layover</span>
                <span class="dot-medium">·</span>
                <span>{{route.to}}</span>
              </div>
            }
          </div>
        </div>
      }
  </div>
  <button class="selection__btn btn-primary" type="button" (click)="changeView(Views.BOOKING)">Continue</button>
</div>
}
@if (userView === Views.SUCCESS) {
  <div class="success">
    <p>
      Booking Confirmed! Your flight has been booked successfully. Please check your email for your ticket and further instructions.
    </p>
    <a routerLink="/" class="link">Return to homepage</a>
  </div>
}
}}
