.booking {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 32px auto 0;
    align-items: center;

    & .inputs {
        &__input {
            margin-bottom: 12px;

            &__field {
                display: block;
                margin-top: 6px;
                font-size: 16px;
                border-radius: 4px;
                border: none;
                border-bottom: 1px solid hsl(220, 10%, 87%);
                padding: 8px 20px;
                box-shadow: inset 0 1px 2px hsla(0, 0%, 0%, 0.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
            }

            &__error {
                color: red;
                font-size: 14px;
            }
        }
    }

    & .buttons {
        padding-top: 12px;

        & > button {
            width: 110px;
        }

        &__submit {
            transition: color 0.2s ease-in-out;

            &.loading {
                transition: background-image 0.3s ease-in;
                color: transparent;
                background-image: url("/assets/ui/spinner.svg");
                background-size: 20px;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    &__failed {
        color: red;
        text-align: center;
        text-wrap: wrap;
        margin-top: 14px;
    }
}

.header {
    display: flex;

    &__path {
        display: inline-block;
        flex-grow: 1;
        font-size: 30px;
        font-weight: 600;
        color: hsl(225, 6%, 18%);

        &__gap {
            color: hsl(0,0%, 56%);
            margin: 0 10px;
        }
    }

    &__price {
        align-self: end;
        font-size: 26px;
        font-weight: 600;
        color: hsl(225, 6%, 18%);
    }
}

.selection {
    &__header {
        font-size: 20px;
        font-weight: 600;
        color: hsl(225, 6%, 18%);
        margin-top: 32px;
        margin-bottom: 12px;
    }

    &__flights {
        border-radius: 8px;
        border: 1px solid hsl(220, 10%, 88%);
        padding: 16px 0;

        & .header {
            display: flex;
            padding: 0 24px 16px 24px;
            gap: 10px 16px;
            align-items: center;

            &__departing {
                flex-grow: 1;
                font-size: 18px;
            }

            &__back {
                font-size: 14px;
                font-weight: 600;
                border: 1px solid hsl(220, 10%, 88%);
                border-radius: 20px;
                padding: 5px 20px;
                color: hsl(215, 86%, 54%);

                &:hover {
                    color: hsl(215, 82%, 47%);
                    background-color: hsl(220, 70%, 88%, 0.25);
                }
            }
        }

        & .flight {
            display: flex;
            flex-direction: row;
            padding: 0 24px;
            gap: 0 16px;
            font-size: 16px;

            &__company_logo {
                width: 43px;
            }

            &__container {
                flex-grow: 1;
            }

            &__info {
                &__time {
                    padding: 12px 0;
                }
            }

            &__company_text {
                padding: 12px 0 0;
            }

            & .subtext {
                font-size: 14px;
                color: hsl(0, 0%, 46%);
            }

            &__layover {
                width: 100%;
                font-size: 14px;
                padding: 16px 0;
                margin: 20px 0;
                border: 1px solid hwb(220 87% 11%);
                border-left: 0px;
                border-right: 0px;
            }
        }
    }

    &__btn {
        margin-left: auto;
        margin-top: 12px;
        display: block;
    }
}

.success {
    font-size: 16px;
    text-align: center;
    max-width: 500px;
    margin: 32px auto;
}

.link {
    font-size: 16px;
    border-radius: 20px;
    padding: 5px 20px;
    color: hsl(215, 86%, 54%);

    &:hover {
        color: hsl(215, 82%, 44%);
    }
}

.dot-big {
    margin: 0 8px;
}

.dot-medium {
    margin: 0 6px;
}

.btn-primary {
    font-size: 14px;
    background-color: hsl(215, 86%, 54%);
    border-radius: 20px;
    border: none;
    color: hsl(0, 0%, 98%);
    padding: 8px 26px;
    cursor: pointer;
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);

    &:hover {
        background-color: hsl(215, 86%, 50%);
        box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.3);
    }
}

.btn-tertiary {
    font-size: 14px;
    border: none;
    background-color: transparent;
    color: hsl(215, 86%, 54%);

    &:hover {
        color: hsl(215, 86%, 48%);
        text-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1);
    }
}
