* {
    font-family: 'Open Sans';
    color: hsl(225, 6%, 18%);
}

select {
    outline: none;
}

button {
    cursor: pointer;
    outline: none;
}

input {
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
}